In [17]:
import pandas as pd

In [18]:
df=pd.read_csv("telco python.csv")

In [19]:
df = pd.get_dummies(df, columns=['Contract', 'InternetService', 'PaymentMethod'], drop_first=True)

for col in df.select_dtypes(include='bool').columns:
    df[col] = df[col].astype(int)

In [20]:
service_cols_numeric = ['PhoneServiceFlag'] 
service_cols_object = [ 'MultipleLines','OnlineSecurity','OnlineBackup',
                       'DeviceProtection','TechSupport','StreamingTV','StreamingMovies']

In [21]:
for col in service_cols_object:
    df[col+'_Flag'] = df[col].map({'Yes':1, 'No':0, 'No internet service':0})

In [22]:
all_service_flags = service_cols_numeric + [col+'_Flag' for col in service_cols_object]

df['TotalServices'] = df[all_service_flags].sum(axis=1)

In [23]:
df['HighMonthlyChargesFlag'] = (df['MonthlyCharges'] > 80).astype(int)
df['LongTenureFlag'] = (df['tenure'] > 24).astype(int)

In [24]:
# Check dtypes
print(df.dtypes)

# Ensure only numeric columns
print(df.select_dtypes(include=['object']).columns)  # should return empty

customerID                                object
gender                                    object
SeniorCitizen                              int64
Partner                                   object
PartnerFlag                                int64
Dependents                                object
DependentsFlag                             int64
tenure                                     int64
PhoneService                              object
PhoneServiceFlag                           int64
MultipleLines                             object
OnlineSecurity                            object
OnlineBackup                              object
DeviceProtection                          object
TechSupport                               object
StreamingTV                               object
StreamingMovies                           object
PaperlessBilling                          object
PaperLessBillingFlag                       int64
MonthlyCharges                           float64
TotalCharges                             float64
Churn                                     object
ChurnFlag                                  int64
Contract_One year                          int64
Contract_Two year                          int64
InternetService_Fiber optic                int64
InternetService_No                         int64
PaymentMethod_Credit card (automatic)      int64
PaymentMethod_Electronic check             int64
PaymentMethod_Mailed check                 int64
MultipleLines_Flag                       float64
OnlineSecurity_Flag                        int64
OnlineBackup_Flag                          int64
DeviceProtection_Flag                      int64
TechSupport_Flag                           int64
StreamingTV_Flag                           int64
StreamingMovies_Flag                       int64
TotalServices                            float64
HighMonthlyChargesFlag                     int64
LongTenureFlag                             int64
dtype: object
Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',
       'Churn'],
      dtype='object')

In [25]:
obj_cols= ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',
       'Churn']
df= df.drop(columns=obj_cols)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   PartnerFlag                            7043 non-null   int64
 2   DependentsFlag                         7043 non-null   int64
 3   tenure                                 7043 non-null   int64
 4   PhoneServiceFlag                       7043 non-null   int64
 5   PaperLessBillingFlag                   7043 non-null   int64
 6   MonthlyCharges                         7043 non-null   float64
 7   TotalCharges                           7043 non-null   float64
 8   ChurnFlag                              7043 non-null   int64
 9   Contract_One year                      7043 non-null   int64
 10  Contract_Two year                      7043 non-null   int64
 11  InternetService_Fiber optic            7043 non-null   int64
 12  InternetService_No                     7043 non-null   int64
 13  PaymentMethod_Credit card (automatic)  7043 non-null   int64
 14  PaymentMethod_Electronic check         7043 non-null   int64
 15  PaymentMethod_Mailed check             7043 non-null   int64
 16  MultipleLines_Flag                     6361 non-null   float64
 17  OnlineSecurity_Flag                    7043 non-null   int64
 18  OnlineBackup_Flag                      7043 non-null   int64
 19  DeviceProtection_Flag                  7043 non-null   int64
 20  TechSupport_Flag                       7043 non-null   int64
 21  StreamingTV_Flag                       7043 non-null   int64
 22  StreamingMovies_Flag                   7043 non-null   int64
 23  TotalServices                          7043 non-null   float64
 24  HighMonthlyChargesFlag                 7043 non-null   int64
 25  LongTenureFlag                         7043 non-null   int64
dtypes: float64(4), int64(22)
memory usage: 1.4 MB

In [27]:
df['MultipleLines_Flag'] = df['MultipleLines_Flag'].fillna(0)

In [28]:
df["AvgChargesPerMonth"] = df["TotalCharges"] / (df["tenure"].replace(0, 1))

In [29]:
df["tenure group"] = pd.cut(
    df["tenure"],
    bins=[0, 12, 24, 48, 60, 72],  
    labels=["0–12", "13–24", "25–48", "49–60", "61–72"]
)

In [30]:
df = pd.get_dummies(df, columns=["tenure group"], drop_first=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   PartnerFlag                            7043 non-null   int64
 2   DependentsFlag                         7043 non-null   int64
 3   tenure                                 7043 non-null   int64
 4   PhoneServiceFlag                       7043 non-null   int64
 5   PaperLessBillingFlag                   7043 non-null   int64
 6   MonthlyCharges                         7043 non-null   float64
 7   TotalCharges                           7043 non-null   float64
 8   ChurnFlag                              7043 non-null   int64
 9   Contract_One year                      7043 non-null   int64
 10  Contract_Two year                      7043 non-null   int64
 11  InternetService_Fiber optic            7043 non-null   int64
 12  InternetService_No                     7043 non-null   int64
 13  PaymentMethod_Credit card (automatic)  7043 non-null   int64
 14  PaymentMethod_Electronic check         7043 non-null   int64
 15  PaymentMethod_Mailed check             7043 non-null   int64
 16  MultipleLines_Flag                     7043 non-null   float64
 17  OnlineSecurity_Flag                    7043 non-null   int64
 18  OnlineBackup_Flag                      7043 non-null   int64
 19  DeviceProtection_Flag                  7043 non-null   int64
 20  TechSupport_Flag                       7043 non-null   int64
 21  StreamingTV_Flag                       7043 non-null   int64
 22  StreamingMovies_Flag                   7043 non-null   int64
 23  TotalServices                          7043 non-null   float64
 24  HighMonthlyChargesFlag                 7043 non-null   int64
 25  LongTenureFlag                         7043 non-null   int64
 26  AvgChargesPerMonth                     7043 non-null   float64
 27  tenure group_13–24                     7043 non-null   bool
 28  tenure group_25–48                     7043 non-null   bool
 29  tenure group_49–60                     7043 non-null   bool
 30  tenure group_61–72                     7043 non-null   bool
dtypes: bool(4), float64(5), int64(22)
memory usage: 1.5 MB

In [32]:
df.to_csv("telco python.csv", index=False)