In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("cleaned_telco_customers.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerID            7043 non-null   object
 1   gender                7043 non-null   object
 2   SeniorCitizen         7043 non-null   int64
 3   Partner               7043 non-null   object
 4   PartnerFlag           7043 non-null   int64
 5   Dependents            7043 non-null   object
 6   DependentsFlag        7043 non-null   int64
 7   tenure                7043 non-null   int64
 8   PhoneService          7043 non-null   object
 9   PhoneServiceFlag      7043 non-null   int64
 10  MultipleLines         7043 non-null   object
 11  InternetService       7043 non-null   object
 12  OnlineSecurity        7043 non-null   object
 13  OnlineBackup          7043 non-null   object
 14  DeviceProtection      7043 non-null   object
 15  TechSupport           7043 non-null   object
 16  StreamingTV           7043 non-null   object
 17  StreamingMovies       7043 non-null   object
 18  Contract              7043 non-null   object
 19  PaperlessBilling      7043 non-null   object
 20  PaperLessBillingFlag  7043 non-null   int64
 21  PaymentMethod         7043 non-null   object
 22  MonthlyCharges        7043 non-null   float64
 23  TotalCharges          7032 non-null   float64
 24  Churn                 7043 non-null   object
 25  ChurnFlag             7043 non-null   int64
dtypes: float64(2), int64(7), object(17)
memory usage: 1.4+ MB

In [11]:
print(df.isnull().sum())

customerID              0
gender                  0
SeniorCitizen           0
Partner                 0
PartnerFlag             0
Dependents              0
DependentsFlag          0
tenure                  0
PhoneService            0
PhoneServiceFlag        0
MultipleLines           0
InternetService         0
OnlineSecurity          0
OnlineBackup            0
DeviceProtection        0
TechSupport             0
StreamingTV             0
StreamingMovies         0
Contract                0
PaperlessBilling        0
PaperLessBillingFlag    0
PaymentMethod           0
MonthlyCharges          0
TotalCharges            0
Churn                   0
ChurnFlag               0
dtype: int64

In [9]:
df["TotalCharges"] = df["TotalCharges"].fillna(df["TotalCharges"].median())

In [12]:
df.to_csv("telco python.csv", index=False)